# Google maps
kh([0-9]*)\.google\.com([^/]*)\/(.*) http://keyhole-srv.google.com$2.ATSINTERNAL/$3
mt([0-9]*)\.google\.com([^/]*)\/(.*) http://map-srv.google.com$2.ATSINTERNAL/$3
# Youtube
http:\/\/(.*\.youtube\.com|.*\.googlevideo\.com|.*\.video\.google\.com)\/(get_video|videoplayback|videodownload)\?.*?\&(itag=[0-9]*).*?\&(id=[a-zA-Z0-9]*) http://video-srv.youtube.com.ATSINTERNAL/$3&$4
